@page
@model CompareModel
@{
    ViewData["Title"] = "代码比较";
}
<h1>@ViewData["Title"]</h1>


<div id="container" style="height: 800px"></div>

@section Scripts
{
<script>
    require.config({ paths: { 'vs': '/lib/vs' } });
    var originalModel = monaco.editor.createModel(
        '删除行\n行一\n行二\n行三内容\n更多内容',
        'text/plain'
    );
    var modifiedModel = monaco.editor.createModel(
        '\n行一\n行二\n行三\n更多内容\n增加行',
        'text/plain'
    );

    var diffEditor = monaco.editor.createDiffEditor(document.getElementById('container'), {
        // You can optionally disable the resizing
        enableSplitViewResizing: false
    });
    diffEditor.setModel({
        original: originalModel,
        modified: modifiedModel
    });

</script>
}